<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>农稼汇.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EF5D6371CEEAA0E00FA3B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF5D6501CEEAA0F00FA3B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF5D65B1CEEAA0F00FA3B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
